{% extends "layout.html" %}

{% block content %}

    <!-- Form -->
        <form action="" method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }} <!-- CRF token -->
          <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Cards Solver</legend>

            {% for card in ['A','2','3','4','5','6','7','8','9','10','J','Q','K'] %}
              <button type="button" class="btn btn-primary btn-lg mt-1" onclick="addCard('{{card}}')">{{card}}</button>
            {% endfor %}
            <button type="button" class="btn btn-danger btn-lg mt-1" onclick="clearCards()">Clear</button>

            <div class="form-group">
              {{ form.cards.label(class="form-control-label") }}
              {% if form.cards.errors %}
                {{ form.cards(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feed">
                  {% for error in form.cards.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.cards(class="form-control form-control-lg", id="cards") }}
              {% endif %}
            </div>

            <div class="form-group">
                    {{ form.target.label(class="form-control-label") }}
                    {% if form.target.errors %}
                        {{ form.target(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.target.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.target(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


          </fieldset>
          <div class="formgroup">
            {{ form.submit(class="btn btn-outline-info btn-lg") }}
          </div>
        </form>

        {% if solution %}
          {{ solution}}
        {% endif %}

  </div>
  <script type="text/javascript">
  function addCard(card) {
      var text = document.getElementById('cards');
      if (text.value.length == 0) {
        text.value += card;
      }
      else {
        text.value += (' '+card);
      }
  }

  function clearCards() {
      var text = document.getElementById('cards');
      text.value="";
  }
  </script>

{% endblock content %}
