{% extends "layout.html" %}
{% block content %}
    <h1>Excello @ NIME 2020</h1>

    <p>Hello! Thanks for coming. Welcome to the NIME 2020 installation for Excello. The following page
      will outline a self-guided experience for understanding and using
      Excello. There are two videos; one outlining the motivation behind
      Excello, and a second demonstrating how to use it. Below these I will
      document how to run Excello yourself along with some examples. All code
      and examples can be found in the
      <a href="https://github.com/hmattinson/Excello">Github repo</a>. Please
      submit your own compositions, we'd love to see!
    </p>

    <article class="media content-section">
      <div  class="media-body">
          <img class="rounded float-left mr-2 pl-0"
                src="static/imc_square.jpg"
                height="110">
        <h4>Nice to meet you</h4>
        <p style="margin-block-end: 0em">Hi there, I'm Henry. I developed Excello during my final
          year studying Computer Science at Cambridge University.
          As a keen musician and spreadsheet <del>virtuoso</del> enthusiast, this was a fun intersection
          of some of my extracurricular interests. I worked alongside <a href="https://advait.org/">Advait Sarkar</a>
          with whom I present the project to you below. </p>
      </div>
    </article>

    <p>The paper published in NIME 2020 can be found here:
        <a href="https://github.com/hmattinson/Excello/blob/master/Excello_NIME_2020.pdf">Paper</a>
    </p>

    <p>Here is a short video covering the motivation and method for the project:</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/SkRKV_uJV1Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p><br>Learn how to use Exello here:</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/wn1W-l9bztY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br><br>
    <h2>Running Excello</h2>
      To use Excello, the code must be running somewhere, and Excel must be given
      a manifest file that points to where this is running so it can provide it as
      an add-in. You can run Excello on your own computer, or use an online hosted
      version. The online version should be easier but runs a little slower.
    <h4>Using an externally hosted version</h4>
    This was written for using Excel online, steps may differ slightly for
    different version of Excel.
    <ul>
      <li>Download this <a href="https://github.com/hmattinson/Excello/blob/master/Excel%20Music/manifest.xml">manifest.xml file</a></li>
      <li>Open <a href="https://github.com/hmattinson/Excello/blob/master/Excel%20Music.xlsx">this spreadsheet</a> (in an Excel version that supports add-ins)</li>
      <li>Insert > Office Add-ins > Upload My Add-in</li>
      <li>Find and upload the manifest.xml file you downloaded</li>
      <li>Excello will now be available in your home tab in the ribbon</li>
    </ul>
    <h4>Running Locally</h4>
    <ul>
      <li>Clone the Github Repo</li>
      <li>Run with Node (<a href="https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial?tutorial-step=1">helpful Microsoft tutorial</a>)</li>
      <li>Open Excel (a version that supports add-ins)</li>
      <li>Insert > Office Add-ins > Upload My Add-in</li>
      <li>Find and upload the local_manifest.xml file you downloaded</li>
      <li>Excello will now be available in your home tab in the ribbon</li>
    </ul>

    <h2>Submitting your compositions</h2>
    <p>We'd love you to check out other user's compositions in the
    <a href = "https://github.com/hmattinson/Excello/tree/master/user_contributions">user_compositions</a>
    folder in the Github repo.</p>
    <p>We'd love to see what you've done. Upload your contributions as a pull-request to the folder!</p>
{% endblock content %}
