{% extends "layout.html" %}

{% block content %}
<div class="content-section">
  <div id="summary" class="media">
      <img class="rounded mr-2"
            src={{url_for('static',filename='recipe_pics/' + recipe.image_file)}}
            height=255>
      <div class="media-body">
        <h2 class="display-4">{{recipe.title}}</h2>
        <p>{{recipe.description}}</p>
        <div id="icons" class="mt-2">
            <img src="/static/icons/people.svg" alt="" width="32" height="32" title="Bootstrap">
            <span class="mr-3">{{recipe.people}}</span>
            <img src="/static/icons/clock.svg" alt="" width="32" height="32" title="Bootstrap">
            <span class="mr-3">{{recipe.time}}</span>
            <img src="/static/icons/lock.svg" alt="" width="32" height="32" title="Bootstrap">
            <span>{{recipe.difficulty}}</span>
        </div>
        <div id="tags" class="mt-2">
          {% for tag in recipe.tags.split(",")%}
            {% if tag=="Vegetarian" or tag=="Vegan" %}
              <span class="badge badge-success">{{tag}}</span>
            {% elif tag=="Spicy" %}
              <span class="badge badge-danger">{{tag}}</span>
            {% elif tag=="Hard Ingredients" %}
              <span class="badge badge-warning">{{tag}}</span>
            {% else %}
              <span class="badge badge-primary">{{tag}}</span>
            {% endif %}
          {% endfor %}
        </div>
        <div id="author" class="mt-2">
          <img src="/static/icons/pen.svg" alt="" width="32" height="32" title="Bootstrap">
          <span><a href="{{recipe.source_link}}">{{recipe.source_name}}</a></span>
        </div>

        {% if current_user.is_authenticated %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
    </div>
  </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-4 pl-0" style="border-right: 1px solid #ccc">
          <h2>Ingredients</h2>
            <ul>
            {% for ingredient in recipe.ingredients.split('\r') %}
              <li>{{ingredient}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-8">
          <h2>Method</h2>
          {% for step in recipe.method.split('\r') %}
            <p>{{step}}<p>
          {% endfor %}
        </div>
      </div>
      {% for note in recipe.notes.split('\r') %}
        <p>{{note}}<p>
      {% endfor %}
    </div>
</div>

{% endblock content %}
