{% extends "layout.html" %}
{% block content %}
    {% for recipe in recipes.items %}
    <div class="row">
      <div class="col-3 pl-0">
        <a href="{{ url_for('recipes.new_recipe')}}" class="btn btn-outline-success btn-block mb-2">Add Recipe</a>
        <div class="content-section">
          <h3>Filter</h3>
        </div>
      </div>

      <div class="col-9 pl-0">
        <article class="media content-section">
          <div class="media-body">
            <a href="{{ url_for('recipes.recipe', recipe_id=recipe.id) }}">
              <img class="rounded float-left mr-2 pl-0"
                    src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}"
                    height="100">
            </a>
            <h2><a class="article-title" href="{{ url_for('recipes.recipe', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h2>
            <p class="article-content">{{ recipe.description }}</p>
          </div>
        </article>
      {% endfor %}

      {% for page_num in recipes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if recipes.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    </div>
{% endblock content %}
